* {
  box-sizing: border-box;
}

.wrap {
  height: 100%;
  display: flex;
}

.button {
  width: 140px;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: silver;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  }

.button:hover {
  background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.DW, .BT {
    flex-direction: row;
}

.container {
    display: flex;
    flex-flow: wrap column;
    justify-content: space-between;
    margin-top: 8px;
}

header {
  color: black;
  height: 60vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-family: "Montserrat";
  text-align: center;
  color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40vh;
  letter-spacing: 1px;
}

.textarea {
  display: flex;
  height: 12vh;
  width: 30vh;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.areatext {
  display: flex;
  height: 11vh;
  width: 70vh;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}