*{
    font-family: "Russo-One";
}
header {
    height: 165px;
    width: 1424px;
}
body {
    margin: 0;
}
.navbar-nav > .nav-item {
    display: flex;
    justify-content: flex-end;
}
.nav-item {
    display: flex;
    justify-content: flex-end;
    background-color: blue;
}
.nav-link {
    font-family: "Russo-One";
    font-size: 30px;
}
.nav-img {
    margin-right: 800px;
}